<ol class="breadcrumb">
  <li class="active">Администрирование</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            {{#link-to 'admin.voting'}}Голосование{{/link-to}}
        </div>
    </div>
</div>